@charset "UTF-8";

*{margin: 0; padding: 0;}
li {list-style: none;}
a{text-decoration: none;}


body {padding-top: 100px;}
.aaa {
    border: 3px solid orange;
    width: 400px; margin: 0 auto;
    ul{                                 /* .aaa ul */
        border: 3px solid blue;
        >li{                             /* .aaa ul> li */
            border-bottom: 1px solid black;
            a{
                &:hover{color: red;} /* &: 받아줘야한다. */
            }
            &:last-child{background-color:cornflowerblue;}
        }
    }

    &.active{background-color: cyan;}  /*  = .aaa.active */
    /* 같은 형제끼리는 &로 불러야 한다. */

}